.container {
    margin: 0 auto;
    width: 100%;
    padding: 0px 0px 2px 0px;
}
header {
    font-family: $default-font;
    font-weight: 900;
}

.images {
    font-family: "Sofia Pro", "medium";;
    font-weight: 900;
}
