/* @font-face {
    font-family: "Circular Std Medium";
    src:  local("Circular Std"),
          url("/fonts/circular-std-medium-500.ttf") format('ttf');
    font-weight: 900;
} */
@font-face {
    font-family: "Sofia Pro Medium";
    src: local('Sofia Pro Medium'),
         url("/fonts/sofia-pro-medium.ttf") format('ttf');
    font-weight: 900;
  }